ACCESS_KEY_ID=minioadmin
SECRET_ACCESS_KEY=minioadmin
REGION=us-east-1
ENDPOINT=http://127.0.0.1:9000
BUCKET=test-bucket
KEY=keypath/testKey.txt
BODY=Successful roundtrip from S3
LOCALDIR=/tmp/testKey.txt